src/main/mule/movies-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
    <http:listener-config name="movies-process-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="movies-process-api-config" api="resource::11f6ead7-1cfb-4dc4-b6ef-9806272e0aa8:movies-process-api:1.0.0:raml:zip:movies-process-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d093b76c-a128-407f-b571-f487b20b2343" responseTimeout="900000">
        <http:request-connection host="${sys-movies-api.host}" connectionIdleTimeout="90000"/>
    </http:request-config>
    <email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="208deeea-6052-4606-8cd2-813088af6641">
        <email:smtp-connection host="smtp.gmail.com" port="587" user="vigneshwar.s.ws@apisero.com" password="oresipA_vig2k21">
            <email:properties>
                <email:property key="mail.smtp.starttls.enable" value="true" />
            </email:properties>
        </email:smtp-connection>
    </email:smtp-config>
    <configuration-properties doc:name="Configuration properties" doc:id="033e1040-aaa6-4d2e-82f6-7777e320577d" file="config.yaml" />
    <api-gateway:autodiscovery apiId="17337077" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="dd21b8e8-2bd5-4da9-a761-677f43c7d900" flowRef="movies-process-api-main" />
    <flow name="movies-process-api-main">
        <http:listener config-ref="movies-process-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="movies-process-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="movies-process-api-console">
        <http:listener config-ref="movies-process-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="movies-process-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\movies:movies-process-api-config">
		<http:listener doc:name="Listener" doc:id="76b99419-55cb-436c-810a-4327dfcc3304" config-ref="movies-process-api-httpListenerConfig" path="/movies"/>
		<http:request method="GET" doc:name="Request" doc:id="59c2e4bc-2442-4705-b681-1a5c7e4ba46c" config-ref="HTTP_Request_configuration" path="/api/movies">
            <http:headers ><![CDATA[#[output application/java
---
{
	client_secret : 'A1107fd7576542ad81DeD0D3eD39D54F',
	client_id : 'fb259d2a3e29492d89e16bdac0d79431'
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	(showTiming : attributes.queryParams.showTiming) if (attributes.queryParams.showTiming != null),
	(language : attributes.queryParams.language) if (attributes.queryParams.language != null),
	(genre : attributes.queryParams.genre) if (attributes.queryParams.genre != null)
}]]]></http:query-params>
        </http:request>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="08541947-2576-4fbe-a049-dc3642b156e9">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\movies\(movieId):movies-process-api-config">
		<http:listener doc:name="Listener" doc:id="da55b1a5-981b-48be-94d6-80e1808cfcc8" config-ref="movies-process-api-httpListenerConfig" path="/movies/{movieId}"/>
		<http:request method="GET" doc:name="Request" doc:id="00ae7387-e9d2-4bbd-b5f3-079ccc5f70dd" config-ref="HTTP_Request_configuration" path="/api/movies/{movieId}">
            <http:headers ><![CDATA[#[output application/java
---
{
	client_secret : 'A1107fd7576542ad81DeD0D3eD39D54F',
	client_id : 'fb259d2a3e29492d89e16bdac0d79431'
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	movieId : attributes.uriParams.movieId
}]]]></http:uri-params>
        </http:request>
        <ee:transform doc:name="Transform Message" doc:id="17ef5959-0358-4b5f-89fb-12e74b4e5130">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\movies\(movieId)\bookTicket:application\json:movies-process-api-config">
		<http:listener doc:name="Listener" doc:id="b277f41e-4cce-4d79-a12b-202de4e6edcb" config-ref="movies-process-api-httpListenerConfig" path="/movies/{movieId}/bookTicket"/>
		<ee:transform doc:name="Transform Message" doc:id="2b2ec6a8-a970-43a7-b2d9-cf16bb073969">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	movieId : attributes.uriParams.movieId as Number,
	numberOfSeats : payload.numberOfSeats as Number,
	showTiming : payload.showTiming
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="39d25ad2-552a-4961-b972-ffa8cb7ff51f" name="get:\movies\(movieId):movies-process-api-config" target="movieDetails" />
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="fd1b4b59-4485-40d2-a58b-61693939d33a">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
var price = (substringAfter(vars.movieDetails.price, "Rs. ")) as Number
var totalAmount = price * payload.numberOfSeats
var discount = if(payload.numberOfSeats>3) totalAmount*0.25 else 0
---
{
  movieName: vars.movieDetails.movieName,
  showTiming: payload.showTiming,
  totalAmount: totalAmount,
  discount: discount,
  payableAmount: totalAmount - discount
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\movies\(movieId)\bookTicket\payment:application\json:movies-process-api-config">
        <http:listener doc:name="Listener" doc:id="87ccbf0a-b691-44d8-a02c-1876e498d22b" config-ref="movies-process-api-httpListenerConfig" path="/movies/{movieId}/bookTicket/payment"/>
		<ee:transform doc:name="Transform Message" doc:id="688830a7-1d7d-4140-94c5-ea49b7f789fd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	payableAmount : payload.payableAmount,
	paymentMethod : payload.paymentMethod
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="fa93a791-21e5-461a-b5b0-fc818b2e22e5">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Payment successful"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\eTicket:application\json:movies-process-api-config">
        <http:listener doc:name="Listener" doc:id="a31fa272-37b3-484c-9d9c-70d2a1b4f64a" config-ref="movies-process-api-httpListenerConfig" path="/eTicket"/>
		<ee:transform doc:name="Transform Message" doc:id="f742e183-f04f-481c-b370-a90dde1bdaf8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "movieId": payload.movieId,
  "showTiming": payload.showTiming,
  "numberOfSeats": payload.numberOfSeats,
  "email": payload.email
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <set-variable value="#[payload]" doc:name="Set Variable" doc:id="cf712d66-874e-45bc-8c21-e226a9b26d53" variableName="eTicketInput" />
        <http:request method="GET" doc:name="Request" doc:id="4b516eb5-d720-4668-8327-b1cc26961aaf" config-ref="HTTP_Request_configuration" path="/api/movies/{movieId}">
            <http:headers ><![CDATA[#[output application/java
---
{
	client_secret : 'A1107fd7576542ad81DeD0D3eD39D54F',
	client_id : 'fb259d2a3e29492d89e16bdac0d79431'
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	movieId : payload.movieId
}]]]></http:uri-params>
        </http:request>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="20dfb57b-b1f9-468b-b774-459bc1907b5e">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var firstSeat = randomInt(79) + 1
var seats = flatten(1 to vars.eTicketInput.numberOfSeats map(value,index) -> [firstSeat+index*2 as String as Number])
---
{
  movieName: payload.movieName,
  theaterName: "PVR Cinemas",
  screenNumber: randomInt(4)+1 as String as Number,
  showTiming: vars.eTicketInput.showTiming,
  seats: seats
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <email:send doc:id="9e52d60d-e479-48fd-847e-4d5a23bf73a5" config-ref="Email_SMTP" fromAddress="vigneshwar.s.ws@apisero.com" subject="eTicket | PVR Cinemas">
            <email:to-addresses>
                <email:to-address value="#[vars.eTicketInput.email]" />
            </email:to-addresses>
            <email:cc-addresses />
            <email:bcc-addresses />
        </email:send>
    </flow>
</mule>
